<h1><center>Association Rule</center></h1>

In [15]:
import pandas as pd 
import numpy as np
import os 
import plotly.graph_objects as go
import plotly.express as px
from mlxtend.frequent_patterns import apriori, fpgrowth, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
path = "D:\Giáo Trình\Kỳ 5\Kho và Khai Phá Dữ Liệu\Project\Processed Data"
catg = pd.read_csv(os.path.join(path, 'transaction_data.csv'))
catg.head(5)

<>:1: DeprecationWarning: invalid escape sequence \G
<>:1: DeprecationWarning: invalid escape sequence \G
C:\Users\quoct\AppData\Local\Temp\ipykernel_24232\269146825.py:1: DeprecationWarning: invalid escape sequence \G
  path = "D:\Giáo Trình\Kỳ 5\Kho và Khai Phá Dữ Liệu\Project\Processed Data"

,customer_unique_id,order_purchase_timestamp,catg_agro_industry_and_commerce,catg_air_conditioning,catg_art,catg_arts_and_craftmanship,catg_audio,catg_auto,catg_baby,catg_bed_bath_table,...,catg_security_and_services,catg_signaling_and_security,catg_small_appliances,catg_small_appliances_home_oven_and_coffee,catg_sports_leisure,catg_stationery,catg_tablets_printing_image,catg_telephony,catg_toys,catg_watches_gifts
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Category's Association Rules

In [4]:
catg.columns = catg.columns.str.replace('catg_', '')
catg = catg.drop(columns = 'order_purchase_timestamp')
catg.head(5)

,customer_unique_id,agro_industry_and_commerce,air_conditioning,art,arts_and_craftmanship,audio,auto,baby,bed_bath_table,books_general_interest,...,security_and_services,signaling_and_security,small_appliances,small_appliances_home_oven_and_coffee,sports_leisure,stationery,tablets_printing_image,telephony,toys,watches_gifts
0,0000366f3b9a7992bf8c76cfdf3221e2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0000f46a3911fa3c0805444483337064,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0000f6ccb0745a6a4b88665a16c9f078,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0004aac84e0df4da2b147fca70cf8255,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
catg = catg.groupby('customer_unique_id').sum().reset_index()
for i in catg.columns[1:]:
    catg[i] = catg[i].apply(lambda x : 1 if x > 0 else 0)
catg.head(5)

,customer_unique_id,agro_industry_and_commerce,air_conditioning,art,arts_and_craftmanship,audio,auto,baby,bed_bath_table,books_general_interest,...,security_and_services,signaling_and_security,small_appliances,small_appliances_home_oven_and_coffee,sports_leisure,stationery,tablets_printing_image,telephony,toys,watches_gifts
0,0000366f3b9a7992bf8c76cfdf3221e2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0000f46a3911fa3c0805444483337064,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0000f6ccb0745a6a4b88665a16c9f078,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0004aac84e0df4da2b147fca70cf8255,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
frequent_catgsets = fpgrowth(catg.iloc[:,1:], min_support = 0.00002, use_colnames = True)
frequent_catgsets['length'] = frequent_catgsets['itemsets'].apply(lambda x : len(x))
frequent_catgsets

C:\Users\quoct\AppData\Roaming\Python\Python38\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                           itemsets  length
0    0.095839                                   (bed_bath_table)       1
1    0.090945                                    (health_beauty)       1
2    0.024062                                       (stationery)       1
3    0.043513                                        (telephony)       1
4    0.036565                                     (garden_tools)       1
..        ...                                                ...     ...
380  0.000021            (tablets_printing_image, health_beauty)       2
381  0.000021                   (bed_bath_table, party_supplies)       2
382  0.000021                           (books_technical, music)       2
383  0.000021                  (fashion_bags_accessories, music)       2
384  0.000021  (fashion_childrens_clothes, fashion_bags_acces...       2

[385 rows x 3 columns]

In [26]:
catg_rules = association_rules(frequent_catgsets, metric = 'lift', min_threshold = 2)
catg_rules.sort_values('confidence', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
24,"(construction_tools_lights, bed_bath_table)",(furniture_decor),0.000031,0.066202,0.000021,0.666667,10.070181,0.000019,2.801394
19,"(home_construction, housewares)",(furniture_decor),0.000042,0.066202,0.000021,0.500000,7.552636,0.000018,1.867596
13,"(auto, cool_stuff)",(bed_bath_table),0.000073,0.095839,0.000021,0.285714,2.981176,0.000014,1.265825
32,(fashion_childrens_clothes),(fashion_bags_accessories),0.000084,0.018843,0.000021,0.250000,13.267519,0.000019,1.308209
5,"(furniture_decor, home_confort)",(bed_bath_table),0.000094,0.095839,0.000021,0.222222,2.318693,0.000012,1.162492
9,"(housewares, perfumery)",(health_beauty),0.000094,0.090945,0.000021,0.222222,2.443471,0.000012,1.168785
0,"(bed_bath_table, garden_tools)",(housewares),0.000168,0.061004,0.000031,0.187500,3.073570,0.000021,1.155687
2,"(bed_bath_table, fashion_bags_accessories)",(housewares),0.000115,0.061004,0.000021,0.181818,2.980431,0.000014,1.147662
12,"(auto, bed_bath_table)",(cool_stuff),0.000157,0.037885,0.000021,0.133333,3.519410,0.000015,1.110133
8,"(health_beauty, housewares)",(perfumery),0.000157,0.032739,0.000021,0.133333,4.072557,0.000016,1.116070
14,"(bed_bath_table, cool_stuff)",(auto),0.000241,0.040369,0.000021,0.086957,2.154048,0.000011,1.051025
29,(music),(books_technical),0.000398,0.002714,0.000021,0.052632,19.390368,0.000020,1.052690
31,(music),(fashion_bags_accessories),0.000398,0.018843,0.000021,0.052632,2.793162,0.000013,1.035666
18,"(furniture_decor, housewares)",(home_construction),0.000629,0.005125,0.000021,0.033333,6.504431,0.000018,1.029181
25,"(bed_bath_table, furniture_decor)",(construction_tools_lights),0.001635,0.002557,0.000021,0.012821,5.013661,0.000017,1.010397
4,"(bed_bath_table, furniture_decor)",(home_confort),0.001635,0.004150,0.000021,0.012821,3.089226,0.000014,1.008783
22,(construction_tools_safety),(home_construction),0.001740,0.005125,0.000021,0.012048,2.350999,0.000012,1.007008
26,(construction_tools_lights),"(bed_bath_table, furniture_decor)",0.002557,0.001635,0.000021,0.008197,5.013661,0.000017,1.006616
28,(books_technical),(music),0.002714,0.000398,0.000021,0.007722,19.390368,0.000020,1.007381
7,(home_confort),"(bed_bath_table, furniture_decor)",0.004150,0.001635,0.000021,0.005051,3.089226,0.000014,1.003433
23,(home_construction),(construction_tools_safety),0.005125,0.001740,0.000021,0.004090,2.350999,0.000012,1.002360
21,(home_construction),"(furniture_decor, housewares)",0.005125,0.000629,0.000021,0.004090,6.504431,0.000018,1.003475
30,(fashion_bags_accessories),(music),0.018843,0.000398,0.000021,0.001112,2.793162,0.000013,1.000715
33,(fashion_bags_accessories),(fashion_childrens_clothes),0.018843,0.000084,0.000021,0.001112,13.267519,0.000019,1.001030
11,(perfumery),"(health_beauty, housewares)",0.032739,0.000157,0.000021,0.000640,4.072557,0.000016,1.000483
17,(cool_stuff),"(auto, bed_bath_table)",0.037885,0.000157,0.000021,0.000553,3.519410,0.000015,1.000396
15,(auto),"(bed_bath_table, cool_stuff)",0.040369,0.000241,0.000021,0.000519,2.154048,0.000011,1.000278
1,(housewares),"(bed_bath_table, garden_tools)",0.061004,0.000168,0.000031,0.000515,3.073570,0.000021,1.000348
3,(housewares),"(bed_bath_table, fashion_bags_accessories)",0.061004,0.000115,0.000021,0.000344,2.980431,0.000014,1.000228
20,(furniture_decor),"(home_construction, housewares)",0.066202,0.000042,0.000021,0.000317,7.552636,0.000018,1.000275
27,(furniture_decor),"(construction_tools_lights, bed_bath_table)",0.066202,0.000031,0.000021,0.000317,10.070181,0.000019,1.000285
10,(health_beauty),"(housewares, perfumery)",0.090945,0.000094,0.000021,0.000230,2.443471,0.000012,1.000136
16,(bed_bath_table),"(auto, cool_stuff)",0.095839,0.000073,0.000021,0.000219,2.981176,0.000014,1.000145
6,(bed_bath_table),"(furniture_decor, home_confort)",0.095839,0.000094,0.000021,0.000219,2.318693,0.000012,1.000124

In [27]:
catg_rules.to_csv(path + '\catg_rules.csv', index = False)

<>:1: DeprecationWarning: invalid escape sequence \c
<>:1: DeprecationWarning: invalid escape sequence \c
C:\Users\quoct\AppData\Local\Temp\ipykernel_24232\3727666814.py:1: DeprecationWarning: invalid escape sequence \c
  catg_rules.to_csv(path + '\catg_rules.csv', index = False)

## Product's Association Rules

In [9]:
prod = pd.read_csv(os.path.join(path, 'order_data.csv'))
prod.head(5)

,order_id,order_item_id,customer_unique_id,product_id,seller_id,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,price,freight_value,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,871766c5855e863f6eccc05f988b23cb,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,delivered,2017-09-13 08:59:02,2017-09-20 23:43:48,2017-09-29 00:00:00,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,eb28e67c4c0b83846050ddfb8a35d051,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,delivered,2017-04-26 10:53:06,2017-05-12 16:04:24,2017-05-15 00:00:00,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,1,3818d81c6709e39d06b2738a8d3a2474,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,delivered,2018-01-14 14:33:31,2018-01-22 13:19:16,2018-02-05 00:00:00,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,af861d436cfc08b2c2ddefd0ba074622,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,delivered,2018-08-08 10:00:35,2018-08-14 13:32:39,2018-08-20 00:00:00,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,64b576fb70d441e8f1b2d7d446e483c5,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,delivered,2017-02-04 13:57:51,2017-03-01 16:42:31,2017-03-17 00:00:00,199.90,18.14,218.04

In [10]:
def get_prod_list(row):
    tempList = []
    for prod in row.unique() : 
        tempList.append(prod)
    return tempList
prod_list = prod[['order_id', 'product_id']].groupby('order_id').agg(get_prod_list).reset_index().product_id
prod_list = list(prod_list)
prod_list[:5]

[['4244733e06e7ecb4970a6e2683c13e61'],
 ['e5f2d52b802189ee658865ca93d83a8f'],
 ['c777355d18b72b67abbeef9df44fd0fd'],
 ['7634da152a4610f1595efa32f14722fc'],
 ['ac6c3623068f30de03045865e4e10089']]

In [11]:
tEncoder = TransactionEncoder()
trans_array = tEncoder.fit(prod_list).transform(prod_list)
trans_prod = pd.DataFrame(trans_array, columns = tEncoder.columns_)
trans_prod.head(5)

,00066f42aeeb9f3007548bb9d3f33c38,00088930e925c41fd95ebfe695fd2655,0009406fd7479715e4bef61dd91f2462,000b8f95fcb9e0096488278317764d19,000d9be29b5207b54e86aa1b1ac54872,0011c512eb256aa0dbbb544d8dffcf6e,00126f27c813603687e6ce486d909d01,001795ec6f1b187d37335e1c4704762e,001b237c0e9bb435f2e54071129237e9,001b72dfd63e9833e8c02742adf472e3,...,ffef256879dbadcab7e77950f4f4a195,fff0a542c3c62682f23305214eaeaa24,fff1059cd247279f3726b7696c66e44e,fff28f91211774864a1000f918ed00cc,fff515ea94dbf35d54d256b3e39f0fea,fff6177642830a9a94a0f2cba5e476d1,fff81cc3158d2725c0655ab9ba0f712c,fff9553ac224cec9d15d49f5a263411f,fffdb2d0ec8d6a61f0a0a0db3f25b441,fffe9eeff12fcbd74a2f2b007dde0c58
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
frequent_prodsets = fpgrowth(trans_prod, min_support = 0.00005, use_colnames = True)
frequent_prodsets['length'] = frequent_prodsets['itemsets'].apply(lambda x : len(x))
frequent_prodsets

       support                                           itemsets  length
0     0.000091                 (4244733e06e7ecb4970a6e2683c13e61)       1
1     0.000122                 (ac6c3623068f30de03045865e4e10089)       1
2     0.000051                 (ef92defde845ab8450f9d70c526ef70f)       1
3     0.000517                 (d63c1011f49d98b976c352955b1c4bea)       1
4     0.004733                 (99a4788cb24856965c36a24e339b6058)       1
...        ...                                                ...     ...
4206  0.000071  (18486698933fbb64af6c0a255f7dd64c, dbb67791e40...       2
4207  0.000061  (ad0a798e7941f3a5a2fb8139cb62ad78, 94634469715...       2
4208  0.000051  (3ce943997ff85cad84ec6770b35d6bcd, b7d94dc0640...       2
4209  0.000061  (5d790355cbeded0cd60e25cbc4c527a2, 5fc3e6a4b52...       2
4210  0.000061  (4d0ec1e9b95fb62f9a1fbe21808bf3b1, 9ad75bd7267...       2

[4211 rows x 3 columns]

In [24]:
prod_rules = association_rules(frequent_prodsets, metric = 'confidence', min_threshold = 0.4)
prod_rules.sort_values('confidence', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(e6b314a2236c162ede1a879f1075430f),(ad4b5def91ac7c575dbdf65b5be311f4),0.000091,0.000091,0.000061,0.666667,7308.592593,0.000061,2.999726
1,(ad4b5def91ac7c575dbdf65b5be311f4),(e6b314a2236c162ede1a879f1075430f),0.000091,0.000091,0.000061,0.666667,7308.592593,0.000061,2.999726
5,(3ce943997ff85cad84ec6770b35d6bcd),(b7d94dc0640c7025dc8e3b46b52d8239),0.000081,0.000101,0.000051,0.625000,6166.625000,0.000051,2.666396
3,(ad0a798e7941f3a5a2fb8139cb62ad78),(946344697156947d846d27fe0d503033),0.000122,0.000152,0.000061,0.500000,3288.866667,0.000061,1.999696
6,(b7d94dc0640c7025dc8e3b46b52d8239),(3ce943997ff85cad84ec6770b35d6bcd),0.000101,0.000081,0.000051,0.500000,6166.625000,0.000051,1.999838
7,(4d0ec1e9b95fb62f9a1fbe21808bf3b1),(9ad75bd7267e5c724cb42c71ac56ca72),0.000132,0.000426,0.000061,0.461538,1084.241758,0.000061,1.856352
2,(18486698933fbb64af6c0a255f7dd64c),(dbb67791e405873b259e4656bf971246),0.000172,0.000659,0.000071,0.411765,625.033484,0.000071,1.698880
4,(946344697156947d846d27fe0d503033),(ad0a798e7941f3a5a2fb8139cb62ad78),0.000152,0.000122,0.000061,0.400000,3288.866667,0.000061,1.666464

In [25]:
prod_rules.to_csv(path + '\prod_rules.csv', index = False)

<>:1: DeprecationWarning: invalid escape sequence \p
<>:1: DeprecationWarning: invalid escape sequence \p
C:\Users\quoct\AppData\Local\Temp\ipykernel_24232\1096341276.py:1: DeprecationWarning: invalid escape sequence \p
  prod_rules.to_csv(path + '\prod_rules.csv', index = False)